
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 50px;
}

.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.pai{
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    padding: 1rem;
    border-radius: 30px;

    border: solid 2px #2cb2ff;
}   

button{
    padding: 1rem;
    border-radius: 30px;
    border: none;

    color: white;
    background-color: #2cb2ff;
}

main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 75vh;
    margin-top: 10vh;
    margin-left: 5%;

    background-repeat: no-repeat;
    background-position-x: right;
}

.pick{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #2cb2ff;
    font-size: 70px;
}

img{
    object-fit: contain;
    transform: rotateY(180deg);
    width: 670px;
    height: 430px;
}

.pai-bolinha{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 12%;
}

.bolinha{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: solid 2px black;
}

.azul{
    background-color: #2cb2ff;
}

.vermelho{
    background-color: crimson;
}

.marrom{
    background-color: burlywood;
}

.cinza{
    background-color: rgb(151, 151, 151);
}

.shop{
    padding: 1rem;
    width: 300px;
}
